body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: futuraLight;
  src: url(Futura_Light.ttf); }
@font-face {
  font-family: DIN;
  src: url(DIN_Reg.ttf); }
@font-face {
  font-family: futuraBook;
  src: url(futura_book.ttf); }
.clearBoth {
  clear: both; }
  a{
    color: #353C4C;
  }

/****************************

NAVBAR

***************************/
header {
  margin-top: 10px; }
  header .hamburger {
    margin-top: 30px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #9f9d9e;
    border-radius: 3px;
    padding: 10px 5px 5px 5px; }
  header .logo {
    padding: 0;}
    @media screen and (max-width: 991px) {
      header .logo{
        position: relative;
        text-align: center;
      }
    }
    header .logo h1 {
      font-size: 16px;
      font-family: futuraLight;
      background-color: #FFF;
      position: absolute;
      top: 70%;
      left: 39%;
      transform: translate(-50%, -50%);
      color: #353C4C;
    text-align: center;}
    @media screen and (max-width: 991px) {
      header .logo h1{
        left: 50%;
      }
    }

header .menu.col-md-8 {
  padding: 15px 0px 0px 0px;
  width: inherit;}
  @media screen and (max-width: 991px) {
    header .menu.col-md-8{
      float: none !important;
    }
  }

header li a {
  font-family: futuraLight;
  font-size: 16px;
  text-transform: uppercase;
  color: #9f9d9e; }

.nav > li > a:hover {
  color: #353C4C;
  background-color: inherit; }

.bor {
  border-bottom: 1px solid #353C4C;
  width: 100%;
  padding-top: 59px; }
  @media screen and (max-width: 767px) {
    .bor {
      padding-top: 4px; } }

/************************************

FOOTER

*************************************/
footer .mentionsLegales {
  text-align: center;
  border-top: 1.5px solid #353C4C; }

  footer .mentionsLegales p {
    font-size: 8px;
    color: #DDD;
  padding-top: 10px;}

/************************************

HOME

*************************************/
.locaux {
  left: -100%;
  height: 420px;}

.patuco {
  right: -100%;
  height: 420px;}
  @media screen and (max-width: 544px) {
    .patuco {
      margin-top: 30px; } }

.HOME_vignetteTitle {
  font-size: 20px;
  font-family: futuraLight; }
.HOME_vignetteTitle.HOME_vignetteContent {
    margin-top:0;
}

.HOME_vignetteTitle img{
  width: 70%;
}

.HOME_borderInsideVignette .HOME_vignetteContent img{
  width: 201px;
}
#homePage {
  padding: 40px 0px; }
  section .locaux, section .patuco {
    position: relative; }
  section img {
    width: 100%;
    height: 100%; }
  section .locaux .HOME_vignette, section .patuco .HOME_vignette {
    background-color: #FFF;
    display:none;
    position: absolute;
    float: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
    padding: 30px; }
    @media screen and (max-width:992px) {
     section .locaux .HOME_vignette, section .patuco .HOME_vignette {
      padding:20px;}
    }
    section .locaux:hover .HOME_vignette, section .patuco:hover .HOME_vignette {
      display:block; }
    @media screen and (max-width:768px) {
      section .locaux .HOME_vignette, section .patuco .HOME_vignette {
        display:block; } }
        
    section .locaux .HOME_vignette .HOME_borderInsideVignette, section .patuco .HOME_vignette .HOME_borderInsideVignette {
      border: 1px solid #353C4C;
      position: relative;
      text-align: center;
      color: #353C4C;
      }
      section .locaux .HOME_vignette .HOME_borderInsideVignette .HOME_rubrique, section .patuco .HOME_vignette .HOME_borderInsideVignette .HOME_rubrique {
        position: relative;
        padding: 0 10px;
        display: inline-block;
        top: -30px;
        background-color: #FFF; }
      section .locaux .HOME_vignette .HOME_borderInsideVignette h2, section .patuco .HOME_vignette .HOME_borderInsideVignette h2 {
        font-size: 20px;
        background-color: #FFF;
       font-family:futuraLight;
       position: relative;
       display: inline-block;
       margin: 0px 0px 40px 0px;

}

section .locaux .HOME_vignette .HOME_borderInsideVignette h2:before{
    content:"";
    width: 71px;
    height: 1px;
    background-color: #353C4C;
    display:block;
    position: absolute;
    left: -77px;
    top: 8px;
  }
  @media screen and (max-width: 544px){
    section .locaux .HOME_vignette .HOME_borderInsideVignette h2:before{
        width: 44px;
        left: -50px;
      }
  }
  @media screen and (max-width:768px) {
      section .locaux .HOME_vignette .HOME_borderInsideVignette h2:before{
      width: 35px;
      left: -39px;
    }
  }
  @media screen and (max-width:992px) {
    section .locaux .HOME_vignette .HOME_borderInsideVignette h2:before{
    width: 50px;
    left: -55px;
    }
    .HOME_borderInsideVignette .HOME_vignetteContent img{
      width: 160px;
    }
  }
section .patuco .HOME_vignette .HOME_borderInsideVignette h2::before {
  content:"";
  width: 11px;
  height: 1px;
  background-color: #353C4C;
  display:block;
  position: absolute;
  left: -15px;
  top: 8px;
}

section .locaux .HOME_vignette .HOME_borderInsideVignette h2:after{
 content:"";
 width: 71px;
 height: 1px;
 background-color: #353C4C;
 display:block;
 position: absolute;
 left: 52px;
 top: 8px;
}
@media screen and (max-width: 544px){
  section .locaux .HOME_vignette .HOME_borderInsideVignette h2:after{
    width: 38px;
    left: 51px;
  }
}
@media screen and (max-width:768px) {
  section .locaux .HOME_vignette .HOME_borderInsideVignette h2:after{
  width: 32px;
  left: 50px;
  }
}
@media screen and (max-width:992px) {
  section .locaux .HOME_vignette .HOME_borderInsideVignette h2:after{
  width: 52px;
  }
}
section .patuco .HOME_vignette .HOME_borderInsideVignette h2:after {
 content:"";
 width: 11px;
 height: 1px;
 background-color: #353C4C;
 display:block;
 position: absolute;
 left: 50px;
 top: 8px;
}

header.container{
  padding: 0;
}

/*# sourceMappingURL=styleSASS.css.map */
