body{
    text-justify: distribute-all-lines;
}
/*


General


*/
.hamburger{
  display: none;
}

.active23{
  color: #353C4C;
}

.photos1{
  margin-top : 31px;
  height: 80vh;
  overflow: scroll;
  white-space:nowrap;
  overflow-y: hidden;
  position: relative;
}

.descriptionProjetAppt{
  display: inline-block;
  padding-left: 50px;
}
.descriptionProjetAppt h1{
  font-size: 20px;
  color: #353C4C;
  font-family: futuraBook;
  margin-top: 0;
}

.descriptionProjetAppt .projetApptContent{
  border-left: 1px solid #d7d7d7;
  margin-top: 20px;
}

.descriptionProjetAppt .projetApptContent h2{
  font-size: 14px;
  font-family: futuraBook;
  margin-top: 0;
  padding-left: 10px;
}
.descriptionProjetAppt .projetApptContent h2:nth-child(2){
  margin-bottom: 5px;

}

.photos1 img{
  padding-left: 7px;
}


/*


Appartements


*/

#appartement{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
@media screen and (max-width:991px){
  #appartement{
    flex-direction: column;
    align-items: center;
  }
}

.carreAp{
  height: 300px;
  width: 300px;
  border: 1px solid #353C4C;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
}


.carreAp .appt_vignette{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
}
.carreAp:hover .appt_vignette{
  display: block;
}
@media screen and (max-width:768px) {
  .carreAp .appt_vignette {
    display:block; } }

.carreAp .appt_vignette .appt_borderInsideVignette{
  border: 1px solid #353C4C;
  padding: 30px;
  position: relative;
  text-align: center;
  width: 192px;
}
.carreAp .appt_vignette .appt_borderInsideVignette:after{
  content:"Appartements";
  position: absolute;
  bottom: 93%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  z-index: 2;
  width: 70%;
  font-family: futuraLight;
  color: #353C4C;
}
.carreAp .appt_vignette .appt_borderInsideVignette .appt_vignetteContent{
  font-size: 20px;
  font-family: futuraLight;
  color: #353C4C;
  margin-bottom: 0;
}
.carreAp .appt_vignette .appt_borderInsideVignette h2{
  margin-top: 0;
  font-size: 16px;
  font-family: futuraLight;
  color: #353C4C;
}
.carreAp .appt_vignette .appt_borderInsideVignette h2:before{
  content:"";
  width: 14px;
  height: 1px;
  background-color: #353C4C;
  display:block;
  position: absolute;
  left: 58px;
  bottom: 50px;
}
.carreAp .appt_vignette .appt_borderInsideVignette h2:after{
  content:"";
  width: 15px;
  height: 1px;
  background-color: #353C4C;
  display:block;
  position: absolute;
  left: 116px;
  bottom: 50px;
}


.carre1Ap{
  height: 300px;
  width: 300px;
  border: 1px solid #353C4C;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
}

.carre1Ap .appt_vignette{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
}
.carre1Ap:hover .appt_vignette{
  display: block;
}
@media screen and (max-width:768px) {
  .carre1Ap .appt_vignette {
    display:block; } }

.carre1Ap .appt_vignette .appt_borderInsideVignette{
  border: 1px solid #353C4C;
  padding: 30px;
  position: relative;
  text-align: center;
}
.carre1Ap .appt_vignette .appt_borderInsideVignette:after{
  content:"Appartements";
  position: absolute;
  bottom: 93%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  z-index: 2;
  width: 70%;
  font-family: futuraLight;
  color: #353C4C;
}
.carre1Ap .appt_vignette .appt_borderInsideVignette .appt_vignetteContent{
  font-size: 20px;
  font-family: futuraLight;
  color: #353C4C;
  margin-bottom: 0;
}
.carre1Ap .appt_vignette .appt_borderInsideVignette h2{
  margin-top: 0;
  font-size: 16px;
  font-family: futuraLight;
  color: #353C4C;
}
.carre1Ap .appt_vignette .appt_borderInsideVignette h2:before{
  content:"";
  width: 43px;
  height: 1px;
  background-color: #353C4C;
  display:block;
  position: absolute;
  left: 29px;
  bottom: 50px;
}
.carre1Ap .appt_vignette .appt_borderInsideVignette h2:after{
  content:"";
  width: 43px;
  height: 1px;
  background-color: #353C4C;
  display:block;
  position: absolute;
  left: 117px;
  bottom: 50px;
}

.carre2Ap{
  height: 300px;
  width: 300px;
  border: 1px solid #353C4C;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
}

.carre2Ap .appt_vignette{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
}
.carre2Ap:hover .appt_vignette{
  display: block;
}
@media screen and (max-width:768px) {
  .carre2Ap .appt_vignette {
    display:block; } }

.carre2Ap .appt_vignette .appt_borderInsideVignette{
  border: 1px solid #353C4C;
  padding: 30px;
  position: relative;
  text-align: center;
  width: 192px;
}
.carre2Ap .appt_vignette .appt_borderInsideVignette:after{
  content:"Appartements";
  position: absolute;
  bottom: 93%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  z-index: 2;
  width: 70%;
  font-family: futuraLight;
  color: #353C4C;
}
.carre2Ap .appt_vignette .appt_borderInsideVignette .appt_vignetteContent{
  font-size: 20px;
  font-family: futuraLight;
  color: #353C4C;
  margin-bottom: 0;
}
.carre2Ap .appt_vignette .appt_borderInsideVignette h2{
  margin-top: 0;
  font-size: 16px;
  font-family: futuraLight;
  color: #353C4C;
}
.carre2Ap .appt_vignette .appt_borderInsideVignette h2:before{
  content:"";
  width: 20px;
  height: 1px;
  background-color: #353C4C;
  display:block;
  position: absolute;
  left: 53px;
  bottom: 50px;
}
.carre2Ap .appt_vignette .appt_borderInsideVignette h2:after{
  content:"";
  width: 20px;
  height: 1px;
  background-color: #353C4C;
  display:block;
  position: absolute;
  left: 116px;
  bottom: 50px;
}



/*


Bureaux


*/


.carreBu{
  width: 300px;
  height: 300px;
  border: 1px solid black;
margin: auto;
  margin-bottom: 30px;
}

.carre1Bu{
  width: 300px;
  height: 300px;
  border: 1px solid black;


  margin: auto;
  margin-bottom: 30px;
}



.carre2Bu{
  width: 300px;
  height: 300px;
  border: 1px solid black;
margin: auto;
  margin-bottom: 30px;
}


.carre2Bu img{
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
}


.carreBu img{
  width: 250px;
  margin-left: 25px;
  margin-top:120px;
}


.carre1Bu img{
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
}



/*


Boutiques


*/


.carreBo{
  width: 300px;
  height: 300px;
  border: 1px solid black;
margin: auto;
  margin-bottom: 30px;
}

.carre1Bo{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 30px;
}


.carre2Bo{
  width: 300px;
  height: 300px;
  border: 1px solid black;
margin: auto;
  margin-bottom: 30px;
}


.carre2Bo img{
  width: 250px;
  margin-left: 25px;
  margin-top: 25px;
}


.carreBo img{
  width: 180px;
  margin-left: 60px;
  margin-top: 50px;
}


.carre1Bo img{
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
}



/*

Restaurant


*/


.carreRe{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin-bottom: 30px;
}

.carreRe img{
  width:250px;
  margin-left: 25px;
  margin-top:25px;
}

.lastpic{
  padding-right: 50px;
}


@media screen and (min-width: 200px) and (max-width: 991px) {
  .carreRe {
   margin: auto;
      margin-bottom: 30px;

  }
}

.first{
  margin-left: 95px;;
}
.descri {
  width: 220px;
  height: 150px;
  background-color: white;
  margin: auto;
  margin-top: 75px;
}

.filetAuteuil{
  width: 200px;
  height: 200px;
margin:  auto;
  vertical-align: middle;

  border: 1px solid #353C4C;
  position: relative;
}


.titre1{
  text-align: center;
  text-decoration: none;
  color: #353C4C;
  position: absolute;

}


.test11{
  max-height: 100%;
  max-width: 100%;
}


.photossm img{
  width: 100%;

}

.descriptionProjetApptSMALL{
  display: inline-block;
}
.descriptionProjetApptSMALL h1{
  font-size: 20px;
  color: #353C4C;
  font-family: futuraBook;
  margin-top: 0;
}

.descriptionProjetApptSMALL .projetApptContentSMALL{
  border-left: 1px solid #d7d7d7;
  margin-top: 20px;
}

.descriptionProjetApptSMALL .projetApptContentSMALL h2{
  font-size: 14px;
  font-family: futuraBook;
  margin-top: 0;
  padding-left: 10px;
}
.descriptionProjetApptSMALL .projetApptContentSMALL h2:nth-child(2){
  margin-bottom: 5px;
}


.vignettebo {
   width: 150px;
  margin-top: 25px;
  margin-left: 25px;
}

.vignetteelo {
  width: 180px;
  margin-top: 80px;
  margin-left: 12px;
}

.imageProjetSuivantmin {
    border: 1px solid black;
    width: 95%;
}

.deuxiemeImageProjetSuivantmin {
      border: 1px solid black;
  width: 95%;
  float: right;

}

/***********

Autres projets

***********/
.projetSuivantAp{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-48%);
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center;
  height: 500px;
  margin: 0 40px;
}

.projetSuivantAp h1{
  font-family: futuraLight;
  font-size: 16px;
  color: #353C4C;
  margin: 0;
}

.projetSuivantAp img{
  width: 200px;
  height: 200px;
  padding-left: 0;
}

.projetSuivantAp .apercuProjet1,
.projetSuivantAp .apercuProjet2{
  margin: : 20px 0px 0px 0px;
  position: relative;
  border: 1px solid #000;
}

.projetSuivantAp .apercuProjet1:hover .projet_vignette,
.projetSuivantAp .apercuProjet2:hover .projet_vignette{
  display: block;
}
.projetSuivantAp .projet_vignette{
  /*display: none;*/
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  text-align: center;
}

.projetSuivantAp .projet_vignette .projet_borderInsideVignette{
  border: 1px solid #353C4C;
  padding: 30px 0;
  width: 150px;
}

.projetSuivantAp .projet_vignette .projet_borderInsideVignette:after{
  content:"Appartements";
  position: absolute;
  bottom: 76%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  z-index: 2;
  width: 56%;
  font-family: futuraLight;
  color: #353C4C;
}
.projetSuivantAp .projet_vignette h1{
  font-family: futuraLight;
}
.projetSuivantAp .projet_vignette h2{
  font-size: 14px;
  font-family: futuraLight;
  color: #9f9d9e;
  margin: 0;
}

/*** Traits before / after Paris ***/
.projetSuivantAp .apercuProjet1 .traitsMontmartre h2:before{
  content:"";
  position: absolute;
  bottom: 44%;
  left: 22%;
  width: 33px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}
.projetSuivantAp .apercuProjet1 .traitsMontmartre h2:after{
  content:"";
  position: absolute;
  bottom: 44%;
  left: 60%;
  width: 33px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}

.projetSuivantAp .apercuProjet2 .traitsSablons h2:before{
  content:"";
  position: absolute;
  bottom: 44%;
  left: 32%;
  width: 15px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}
.projetSuivantAp .apercuProjet2 .traitsSablons h2:after{
  content:"";
  position: absolute;
  bottom: 44%;
  left: 60%;
  width: 15px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}

.projetSuivantAp .apercuProjet2 .traitsAuteuil h2:before{
  content:"";
  position: absolute;
  bottom: 44%;
  left: 35%;
  width: 10px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}
.projetSuivantAp .apercuProjet2 .traitsAuteuil h2:after{
  content:"";
  position: absolute;
  bottom: 44%;
  left: 60%;
  width: 9px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}
.projetSuivantAp .apercuProjet1 .traitsAuteuil h2:before{
  content:"";
  position: absolute;
  bottom: 44%;
  left: 35%;
  width: 10px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}
.projetSuivantAp .apercuProjet1 .traitsAuteuil h2:after{
  content:"";
  position: absolute;
  bottom: 44%;
  left: 60%;
  width: 9px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}
/****************

VIGNETTES AUTRES PROJETS EN SMALL

*****************/

.projetSuivantSMALL{
  text-align: center;
  text-transform: uppercase;
}

.projetSuivantSMALL h1{
  font-family: futuraLight;
  font-size: 16px;
  color: #353C4C;
  margin: 20px 0px 0px 0px;
}
@media screen and (max-width: 556px){
  .projetSuivantSMALL h1{
    margin: 20px 0px 0px 0px;
  }
}

.projetSuivantSMALL .apercuProjetSMALL{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;
}

.projetSuivantSMALL img{
  width: 100%;
  height: 100%;
  margin: 0;
}

.projetSuivantSMALL .apercuProjet1.col-sm-5,
.projetSuivantSMALL .apercuProjet2.col-sm-5{
  padding: 0;
  position: relative;
  width: 47.6%;
  border: 1px solid #000;
}

.projetSuivantSMALL .apercuProjet1:hover .projet_vignette,
.projetSuivantSMALL .apercuProjet2:hover .projet_vignette{
  display: block;
}
.projetSuivantSMALL .projet_vignette{
  /*display: none;*/
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px;
  text-align: center;
}
@media screen and (max-width: 556px){
  .projetSuivantSMALL .projet_vignette{
    padding: 20px;
  }
}

.projetSuivantSMALL .projet_vignette .projet_borderInsideVignette{
  border: 1px solid #353C4C;
  padding: 45px 0;
  width: 170px;
}

@media screen and (max-width: 556px){
  .projetSuivantSMALL .projet_vignette .projet_borderInsideVignette{
    padding: 0px;
    width: 130px;
    height: 75px;
  }
}

.projetSuivantSMALL .projet_vignette .projet_borderInsideVignette:after{
  content:"Appartements";
  position: absolute;
  bottom: 77%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  z-index: 2;
  width: 40%;
  font-family: futuraLight;
  color: #353C4C;
}
@media screen and (max-width: 556px){
  .projetSuivantSMALL .projet_vignette .projet_borderInsideVignette:after{
    bottom: 72%;
    left: 51%;
    width: 60%;
  }
}

.projetSuivantSMALL .projet_vignette h2{
  font-size: 14px;
  font-family: futuraLight;
  color: #353C4C;
  margin: 0;
}

/************ Traits encadrant Paris en small **********/
.projetSuivantSMALL .apercuProjet1 .traitsMontmartre h2:before{
  content:"";
  position: absolute;
  bottom: 42%;
  left: 29%;
  width: 33px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}
.projetSuivantSMALL .apercuProjet1 .traitsMontmartre h2:after{
  content:"";
  position: absolute;
  bottom: 42%;
  left: 58%;
  width: 33px;
  height: 1px;
  display: block;
  background-color: #353C4C;
}
  @media screen and (max-width: 556px){
    .projetSuivantSMALL .apercuProjet1 .traitsMontmartre h2:before{
      content:"";
      position: absolute;
      bottom: 44%;
      left: 18%;
      width: 33px;
      height: 1px;
      display: block;
      background-color: #353C4C;
    }
    .projetSuivantSMALL .apercuProjet1 .traitsMontmartre h2:after{
      content:"";
      position: absolute;
      bottom: 44%;
      left: 62%;
      width: 31px;
      height: 1px;
      display: block;
      background-color: #353C4C;
    }
  }

  .projetSuivantSMALL .apercuProjet2 .traitsSablons h2:before{
    content:"";
    position: absolute;
    bottom: 42%;
    left: 36%;
    width: 14px;
    height: 1px;
    display: block;
    background-color: #353C4C;
  }
  .projetSuivantSMALL .apercuProjet2 .traitsSablons h2:after{
    content:"";
    position: absolute;
    bottom: 42%;
    left: 58%;
    width: 15px;
    height: 1px;
    display: block;
    background-color: #353C4C;
  }
    @media screen and (max-width: 556px){
      .projetSuivantSMALL .apercuProjet2 .traitsSablons h2:before{
        content:"";
        position: absolute;
        bottom: 44%;
        left: 29%;
        width: 15px;
        height: 1px;
        display: block;
        background-color: #353C4C;
      }
      .projetSuivantSMALL .apercuProjet2 .traitsSablons h2:after{
        content:"";
        position: absolute;
        bottom: 44%;
        left: 61%;
        width: 15px;
        height: 1px;
        display: block;
        background-color: #353C4C;
      }
    }

  .projetSuivantSMALL .apercuProjet2 .traitsAuteuil h2:before,
  .projetSuivantSMALL .apercuProjet1 .traitsAuteuil h2:before{
      content:"";
      position: absolute;
      bottom: 42%;
      left: 39%;
      width: 10px;
      height: 1px;
      display: block;
      background-color: #353C4C;
  }
  .projetSuivantSMALL .apercuProjet2 .traitsAuteuil h2:after,
  .projetSuivantSMALL .apercuProjet1 .traitsAuteuil h2:after{
      content:"";
      position: absolute;
      bottom: 42%;
      left: 57%;
      width: 10px;
      height: 1px;
      display: block;
      background-color: #353C4C;
  }
    @media screen and (max-width: 556px){
      .projetSuivantSMALL .apercuProjet2 .traitsAuteuil h2:before,
      .projetSuivantSMALL .apercuProjet1 .traitsAuteuil h2:before{
          content:"";
          position: absolute;
          bottom: 44%;
          left: 33%;
          width: 10px;
          height: 1px;
          display: block;
          background-color: #353C4C;
      }
      .projetSuivantSMALL .apercuProjet2 .traitsAuteuil h2:after,
      .projetSuivantSMALL .apercuProjet1 .traitsAuteuil h2:after{
          content:"";
          position: absolute;
          bottom: 44%;
          left: 60%;
          width: 10px;
          height: 1px;
          display: block;
          background-color: #353C4C;
      }
    }


.vignettesmin {
width: 100px;
  height: 100px;

}

.no-margin {
  margin: 0;
  padding: 0;
}

.vignettebomin {
width: 90%;

}

.titreProjetSuivantmin {
    font-family: futuraLight;
  font-size: 16px;
  color: #353C4C;
  text-align: center;
}

.photossm {
  margin-top: 20px;
  padding-bottom: 30px;
}

.photossm img{
margin-bottom: 10px;
}

/***************** CONTACT *****************/

.contact img{
  width: 75%;
}

.maincontact {
  margin-top: 35px;
  margin-bottom: 35px;
  font-family: futuraBook;
  text-align: justify;
  color: #353C4C;
}

.contact {
 text-align: center;
}

@media screen and (max-width: 991px){
  .contactContent{
    padding-top: 20px;
  }

  .contactContent .adresse{
    margin-top: 65px;

  }
}


.adresse {
  border-left: 1px solid #353C4C;
  width: 270px;
  margin-top: 120px;
}
.adresse p{
  padding-left: 8px;
}




.projetSuivant{
  display: inline-block;
  position: relative;
  padding-left: 10px;

}

.titreProjetSuivant{
  background-color: white;
  position: absolute;
  top: -5%;
  left: 30%;
  font-family: futuraLight;
  font-size: 16px;
  color: #353C4C;
}

.imageProjetSuivant{
  position: absolute;
  top: 8%;
  left: 19%;
    border: 1px solid black;
}

.deuxiemeImageProjetSuivant{
  position: absolute;
  top: 62%;
  left: 19%;
  border: 1px solid black;
}



.deuxiemeImageProjetSuivantmin {
      border: 1px solid black;
  width: 95%;
  float: right;
}

.vignettesmin {
width: 100px;
  height: 100px;

}

.vignettes{
  width: 200px;
    height: 200px;
}

.vignettes img{
  padding: 0;
}



.no-padding {
  padding: 0;
}



.justiftitre {
text-align: justify;
    text-align-last: justify;


}

.numero {
  width: 160px;
}


.icofaceb {
  padding-left: 7px;
  margin-bottom: 10px;
}

.padpat{
  padding-right: 50px;
}